<div class="info_container fadeIn animated-slow" >
    <div id="aboutContainer">
        <div class="imgSkillsBox">
            <img id="pic" src="assets/img/jimmy_crop.jpg" alt="">
            <p id="skillsTitle">skills:</p>
            <ul>
                <li class="skillList">JavaScript</li>
                <li class="skillList">jQuery</li>
                <li class="skillList">AJAX</li>
                <li class="skillList">Angular</li>
                <li class="skillList">Git/GitHub</li>
                <li class="skillList">MongoDB</li>
                <li class="skillList">Python</li>
                <li class="skillList">Django</li>
                <li class="skillList">HTML/CSS</li>
                <li class="skillList">socket.io</li>
            </ul>
        </div>
        <div id="aboutMeContainerInner">
            <p class="aboutMe" id="aboutMeTitle">
                Hey, I'm Jim.
            </p>
            <p class="aboutMe">
                I am a recent graduate of Coding Dojo in the Seattle/Bellevue area. The Dojo's intensive program certifies full stack web developers with experience in JavaScript, HTML, CSS, as well as Python, iOS Swift, and more.
            </p>
            <p class="aboutMe">
                My mantra is to keep an open mind, and think logically. I take pride in the work that I do, and my attention to detail. While being focused and serious is important, I also love to make my peers laugh. My goal is to develop great software for a company with people and a mission I believe in.
            </p>
            <p class="aboutMe">
                When I'm not coding, I'm spending time with my family. I am a gamer, martial artist, and lover of languages and fitness. As a former teacher, I emphasize finding the joy in the questions and problems I don't yet understand. I love working with a team, and accomplishing and creating together, cracking jokes and having laughs along the way.
            </p>
        </div>
    </div>
</div>
