<div>
    <a class="link" href="https://github.com/james-moreno/jong">Multiplayer Mahjong</a>
    <p class="project_info">Traditional version of Mahjong where 4 players play a rummy-like game with tiles. My current personal project which uses Angular, socket.io, Node and Express. Currently I am finishing up all the data showing up on the DOM. I will be implementing the rest of the game rules next.</p>
    <a class="link" href="https://github.com/christiankwon/ninjapool">Ninja Pool</a>
    <p class="project_info">Car Pooling app my team made for our school. Utilizes google maps to help students find nearby carpools, and optimizes their route. I built the messaging service, designed the logo and original concept. Built with Django and Python.</p>
    <a class="link" href="https://github.com/treylitefm/2048">2048 Clone</a>
    <p class="project_info">A clone of the popular number game 2048. Combine like numbers to make the number 2048 and beyond. I helped figure out the game logic, created the score board and utilized core data to keep a top score. Built with Swift for coursework.</p>
    <a id="github" class="link" href="https://github.com/james-moreno">My GitHub</a>
</div>
