<div class="fadeIn animated-slow">
    <div class="project_box">
        <p class="projectImg">Image Coming Soon</p>
        <p class="projectTitle">Multiplayer Mahjong</p>
        <p class="project_info">Traditional version of Mahjong where 4 players play a rummy-like game with tiles. My current personal project which uses Angular, socket.io, Node and Express.</p>
        <a class="projectLink" href="https://github.com/james-moreno/Jong">View on GitHub</a>
    </div>
    <div class="project_box">
        <p class="projectImg">Image Coming Soon</p>
        <p class="projectTitle">Ninja Pool</p>
        <p class="project_info">Car Pooling app my team made for our school. Utilizes google maps to help students find nearby carpools, and optimizes their route. I built the messaging service, designed the logo and original concept. Built with Django and Python.</p>
        <a class="projectLink" href="https://github.com/christiankwon/ninjapool">View on Github</a>
    </div>
    <div class="project_box">
        <img class="projectImg"src="/assets/img/2048.png" alt="">
        <p class="projectTitle">2048 Clone</p>
        <p class="project_info">A clone of the popular number game 2048. Combine like numbers to make the number 2048 and beyond. I helped figure out the game logic, created the score board and utilized core data to keep a top score. Built with Swift for coursework.</p>
        <a class="projectLink" href="https://github.com/treylitefm/2048">View on Github</a>
    </div>
</div>
