body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
a {
    color:inherit;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;}
body {
    background: #f9f9f9;
}
.nav_word {
    font-size: 1.9em;
    font-family: Century, sans-serif;
    font-weight: 600;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}
.nav_word:hover {
    text-decoration: underline;
}
#aboutme {
    text-align: left;
    font-size: 2em;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 1.3;
}
.link {
    font-size: 2.1em;
    font-family: sans-serif;
    font-weight: 600;
    color: #e03131;
    display: block;
    text-align: left;
    margin-top: .4em;
    margin-bottom: .4em;
}
.link:hover {
    color: #1FCECE;
}
.contact_link {
    margin-bottom: 2em;
}
.project_info {
    text-align: left;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
.active {
    text-decoration: underline;
}
#pic {
    width: 6em;
    height: 6em;
    border: .2em solid black;
    filter: grayscale(100%);
}
#pic:hover {
    filter: none;
}
#github {
    text-align: center;
}
#name_plate {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 3em;
    font-family: Century, sans-serif;
    font-weight: 600;
}
#name_sub {
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-family: Century, sans-serif;
    color: #9b9b9b;
    font-weight: 700;
}
#name_sub:hover {
    color: #c65f5f;
    font-weight: 700;
}
#nav_box {
    display: inline-block;
    margin-top: 7vh;
    min-height: 80vh;
    width: 15vw;
    min-width: 17vw;
    padding: 1em;
    border-right: 1.2em solid black;
}
#partials {
    padding: 7em 2em 0em 2em;
    position: absolute;
    display: inline-block;
    width: 70vw;
}
@@media screen and (max-device-width: 480px) {
.project_info { font-size: 6vw;
}
